<!DOCTYPE HTML>
<html>
<head>
    <title>홈페이지</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/css/boardList.css" />
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body class="is-preload">
<div id="page-wrapper">

    <!-- Header -->
    <header id="header">
        <div class="logo container">
            <div>
                <p>게시판</p>
            </div>
        </div>
    </header>

    <!-- Nav -->
    <nav id="nav">
        <ul>
            <li><a href="/home">Home</a></li>
            <li>
                <a href="#">Dropdown</a>
                <ul>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Magna phasellus</a></li>
                    <li>
                        <a href="#">Phasellus consequat</a>
                        <ul>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Phasellus consequat</a></li>
                            <li><a href="#">Magna phasellus</a></li>
                            <li><a href="#">Etiam dolore nisl</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Veroeros feugiat</a></li>
                </ul>
            </li>
            <li><a href="/home">몰라</a></li>
            <li><a href="/board/list">게시판</a></li>
            <li><a href="/user/create">회원가입</a></li>
        </ul>
    </nav>

    <!-- Main -->
    <section id="main">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="content">

                        <!-- Content -->
                        <article class="box page-content">

                            <div id="board">

                                <div style="width: 100%; text-align: right;">
                                    <a class="write_btn" href="/board/write">글쓰기</a>
                                </div>

                                <div class="main_list">
                                    <p class="main_list_column flex_between">
                                        <span>번호</span>
                                        <span class="b_subject tacen">제목</span>
                                        <span>작성자</span>
                                        <span>작성일</span>
                                        <span>조회수</span>
                                    </p>

                                    <div class="noticeList" th:each="board : ${boardList}">
                                        <button th:onclick="'location.href=\'/board/detail/' + ${board.boardNo} + '\''">
                                            <p class="listNo flex_between">
                                                <span th:text="${board.boardNo}"></span>
                                                <span class="b_subject" th:href="@{|/board/detail/${board.boardNo}|}" th:text="${board.boardTitle}"></span>
                                                <span th:text="${board.userName}"></span>
                                                <span th:text="${board.boardDate}"></span>
                                                <span th:text="${board.boardCnt}"></span>
                                            </p>
                                        </button>
                                    </div>
                                </div>

                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <!-- 첫 페이지로 이동 -->
                                        <li class="page-item">
                                            <a th:href="@{/board/list(page=${1})}" class="page-link"
                                               th:classappend="${currentPage == 1} ? 'disabled'" aria-label="First">
                                                <<
                                            </a>
                                        </li>
                                        <!-- 이전 페이지로 이동 -->
                                        <li class="page-item">
                                            <a th:href="${currentPage > 1 ? '/board/list?page=' + (currentPage - 1) : '#'}" class="page-link"
                                               th:classappend="${currentPage == 1} ? 'disabled'" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>

                                        <!-- 페이지 링크 -->
                                        <li class="page-item" th:each="i : ${#numbers.sequence(startPage, endPage)}">
                                            <a th:href="@{/board/list(page=${i})}" class="page-link"
                                               th:text="${i}" th:classappend="${i == currentPage} ? 'active'"></a>
                                        </li>

                                        <!-- 다음 페이지로 이동 -->
                                        <li class="page-item">
                                            <a th:href="@{/board/list(page=${endPage + 1})}" class="page-link"
                                               th:classappend="${currentPage == totalPages} ? 'disabled'" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>

                            </div>

                        </article>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <div class="container">
            <div class="row gtr-200">
                <div class="col-12">

                    <!-- Contact -->
                    <section>
                        <h2 class="major"><span>Get in touch</span></h2>
                        <ul class="contact">
                            <li><a class="icon brands fa-github" href="https://github.com/whatit0"><span class="label">Github</span></a></li>
                            <li><a class="icon brands fa-instagram" href="#"><span class="label">Instagram</span></a></li>
                            <li><a class="icon brands fa-google" href="mailto:gukin97s@gmail.com"><span class="label">Gmail</span></a></li>
                        </ul>
                    </section>

                </div>
            </div>

            <!-- Copyright -->
            <div id="copyright">
                <ul class="menu">
                    <li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                </ul>
            </div>

        </div>
    </footer>

</div>

<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.dropotron.min.js"></script>
<script src="/assets/js/jquery.scrolly.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/js/navClick.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>