<!DOCTYPE HTML>
<html>
<head>
    <title>홈페이지</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/css/boardList.css" />
</head>
<body class="is-preload">
<div id="page-wrapper">

    <!-- Header -->
    <header id="header">
        <div class="logo container">
            <div>
                <p>게시판</p>
            </div>
        </div>
    </header>

    <!-- Nav -->
    <nav id="nav">
        <ul>
            <li><a href="/home">Home</a></li>
            <li>
                <a href="#">Dropdown</a>
                <ul>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Magna phasellus</a></li>
                    <li>
                        <a href="#">Phasellus consequat</a>
                        <ul>
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Phasellus consequat</a></li>
                            <li><a href="#">Magna phasellus</a></li>
                            <li><a href="#">Etiam dolore nisl</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Veroeros feugiat</a></li>
                </ul>
            </li>
            <li><a href="/home">몰라</a></li>
            <li><a href="/board/list">게시판</a></li>
            <li><a href="/user/create">회원가입</a></li>
        </ul>
    </nav>

    <!-- Main -->
    <section id="main">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="content">

                        <!-- Content -->
                        <article class="box page-content">

                            <div id="board">
                                <div class="sub_box">
                                    <div class="sub_top sub_write">
                                        <form id="boardForm">
                                            <div class="flex">
                                                <label for="boardTitle">제목</label>
                                                <input type="text" id="boardTitle" name="boardTitle" />
                                            </div>
                                            <div class="flex">
                                                <label for="boardContent">내용</label>
                                                <textarea id="boardContent" name="boardContent"></textarea>
                                            </div>
                                            <button type="submit">작성하기</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </article>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <div class="container">
            <div class="row gtr-200">
                <div class="col-12">

                    <!-- Contact -->
                    <section>
                        <h2 class="major"><span>Get in touch</span></h2>
                        <ul class="contact">
                            <li><a class="icon brands fa-github" href="https://github.com/whatit0"><span class="label">Github</span></a></li>
                            <li><a class="icon brands fa-instagram" href="#"><span class="label">Instagram</span></a></li>
                            <li><a class="icon brands fa-google" href="mailto:gukin97s@gmail.com"><span class="label">Gmail</span></a></li>
                        </ul>
                    </section>

                </div>
            </div>

            <!-- Copyright -->
            <div id="copyright">
                <ul class="menu">
                    <li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                </ul>
            </div>

        </div>
    </footer>

</div>

<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.dropotron.min.js"></script>
<script src="/assets/js/jquery.scrolly.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/js/navClick.js"></script>
<script src="/js/BoardWrite.js"></script>
</body>
</html>